.App {
  text-align: center;
}
input {
  text-align:right;
}
.btn
{
    background-color: rgb(7, 55, 99);
    color: gray;
    border: none;
    cursor: pointer;
    padding: 2px 12px 3px 12px;
    text-decoration: none;
    text-align: right;
}
